---
import Header from "../components/Header.astro";
// Supports weights 100-900
import '@fontsource-variable/onest';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Zeus Cach</title>
	</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-136MY7GQSF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-136MY7GQSF');
</script>
	<body>
		<div class="min-h-screen flex flex-col items-center text-white px-4">
			<Header/>
			<slot />
		</div>
	</body>
</html>

<style is:global>

	:root {
		color-sheme: ;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
	}
	

	body {
		margin: 0;
		padding: 0;
		
		color: #fff;
	    background-color: rgb(52, 52, 83);
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}
</style>
